<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sf.saas.bps.core.dao.mapper.DictionaryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sf.saas.bps.core.dao.entity.Dictionary">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="dict_key" property="dictKey" />
        <result column="dict_value" property="dictValue" />
        <result column="sort" property="sort" />
        <result column="lang" property="lang" />
        <result column="remark" property="remark" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="creator" property="creator" />
        <result column="update_time" property="updateTime" />
        <result column="updater" property="updater" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, dict_key, dict_value, sort, lang, remark, status, create_time, creator, update_time, updater
    </sql>

</mapper>
